# Regresión lineal Múltiple - SalsBerry 
1. Determinar las variables independientes
2. Determinar la variable de intersección
3. Obtener el valor de intersección
4. Estimar el corto de calefacción para una temperatura media de 30°, 5 pulgadas de aislamiento y un calentador con antigüedad de 10 años

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [2]:
#importar datos 
df = pd.read_csv("HighPointSofaandChair.csv")
df.head()

     Worker  Performance  Aptitude  Union
0    Abbott           58         5      0
1  Anderson           53         4      0
2    Bender           33        10      0
3      Bush           97        10      0
4    Center           36         2      0

In [8]:
#1. Determinar las variables independientes

X= df[['Union','Aptitude']]
X

    Union  Aptitude
0       0         5
1       0         4
2       0        10
3       0        10
4       0         2
5       0         7
6       0         6
7       0         9
8       1         9
9       1         2
10      1         8
11      1         6
12      1         7
13      1         3
14      1         6

In [9]:
# 2.Determinar la variable dependiente
y = df[['Performance']]
y

    Performance
0            58
1            53
2            33
3            97
4            36
5            83
6            67
7            84
8            98
9            45
10           97
11           90
12           96
13           66
14           82

In [10]:
#Ajustar el modelo de regresión múltiple
model = LinearRegression()
model.fit(X,y) #entrenar el modelo
y_pred = model.predict(X)
#y_pred

#Métricas estadísticas 
mse = mean_squared_error(y,y_pred) #error de la ,edia cuadratroca
r2= r2_score(y,y_pred) #varianza

3. Valor de intersección

In [11]:
model.intercept_

array([29.27618014])

In [12]:
#coeficientes 
print('Coeficientes:' , model.coef_)
print('Error cuadrático de la media: ' , mse)
print ('Varianza: ', r2)

Coeficientes: [[22.13510581  5.22246337]]
Error cuadrático de la media:  228.93615482003986
Varianza:  0.5329951510923938

# 4. Estimación del Rendimiento del Trabajador

In [15]:
Y = model.predict(np.array([[7,1]]))
print("Rendimiento estimado del trabajador: ", Y)

Rendimiento estimado del trabajador:  [[189.44438416]]

/opt/anaconda3/lib/python3.13/site-packages/sklearn/utils/validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

# Conclusión
Este ejercicio mostro como el análisis de datos puede ayudar a entender mejor el comportamiento de un producto en el mercado. A partir de los datos, se pudieron hacer estimaciones útiles y ver como influyen distintas variables en el resultado final.